<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="cycling" content="width=device-width, initial-scale=1">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <script defer src="static/cycle.js"></script>
    <script defer src="https://kit.fontawesome.com/eaa6e615d8.js" crossorigin="anonymous"></script>


</head>

<body>

<div class='wrapper'>
  <div class="cycles">

    <div class="fifth-cycle">
        <svg class="bar5" viewBox="0 0 550 550" width="550" heigth="550">
          <circle class="circle5" cx='50%' cy='50%' r='270'/>
        </svg>

      <div class="fourth-cycle">
        <input class="timer5" type="text" placeholder="HH:MM:SS" value="00:00:00">
        <svg class="bar4" viewBox="0 0 450 450" width="450" heigth="450">
          <circle class="circle4" cx='50%' cy='50%' r='220'/>
        </svg>

        <div class="third-cycle">
          <input class="timer4" type="text" placeholder="HH:MM:SS" value="00:00:00">
          <svg class="bar3" viewBox="0 0 350 350" width="350" heigth="350">
            <circle class="circle3" cx='50%' cy='50%' r='170'/>
          </svg>

          <div class="second-cycle">
            <input class="timer3" type="text" placeholder="HH:MM:SS" value="00:00:00">
            <svg class="bar2" viewBox="0 0 250 250" width="250" heigth="250">
              <circle class="circle2" cx='50%' cy='50%' r='120'/>
            </svg>
  
            <div class="first-cycle">
              <input class="timer2" type="text" placeholder="HH:MM:SS" value="00:00:00">
              <svg class="bar1" viewBox="0 0 150 150" width="150" heigth="150">
                <circle class="circle1" cx='50%' cy='50%' r='70'/>
              </svg>

              <div class="inner-cycle">
                <input class="timer1" type="text" placeholder="HH:MM:SS" value="00:00:00">

                <span class="buttons">
                  <button class="stop">
                    <i class="far fa-stop-circle"></i>
                  </button>
                  <button class="start">
                    <i class="far fa-play-circle"></i>
                  </button>
                </span>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
